* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-style {
    /* width: 100vw; */
    height: 100vh;
    background-image: url(./code-assets/hitman-wallpaper.jpg);
    background-repeat:  no-repeat;
    background-position: center top;
    background-size: cover;
    
    /* ================= */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.v-style-1 {
    /* position: fixed; */
    /* top: 40%;
    left: 40%; */
    text-align: center;
    color: #e24329;
    font-size: 90px;
}

.v-style-2 {
    position: fixed;
    color: white;
    padding-top: 150px;
    font-size: 30px;
}

.v-style-3 {
    position: fixed;
    color: rgb(47, 156, 25);
    padding-top: 250px;
    font-size: 30px;
    font-weight: 900;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.blinking-text {
    animation: blink 1s infinite;
}

